// .member-box {
//   display: flex;
//   flex-direction: column;
//   width: 30%;
//   // max-width: 420px;
//   // right: 0;
//   position: relative;
//   // border: 1px solid black;
// }

.member-list {
  flex-grow: 1;
  display: flex;
  min-width: 200px;
  max-width: 420px;

  display: flex;
  flex-direction: column;
}

.member-list li {
  // border: 1px solid black;
  flex: 0 0 44px;

  // height: 44px;
  // text-align: left;
  text-overflow: ellipsis;
  padding-top: 12px;
  // width: 100%;
}

.member-list-title {
  // margin-right: auto;
  padding-left: 15px;
  color: rgba(0, 0, 0, .40);
}

.add-member-button {
  display: flex;
  // justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
}

.add-member-plus {
  margin-top: -15px;
  padding-left: 10px;
  padding-right: 12px;
  font-size: 35px;
  color: #0084ff;
}

.add-member-text {
  // margin-left: -30px;
}

.member-list-item {
  padding-left: 55px;
}

.member-list-item:hover{
  background-color: #f2f2f2;
}
