.gear-dropdown {
	position: absolute;
	top: 40px;
	left: 0;
	background-color: #fff;
	border: 1px solid $light-grey;
	border-radius: 3px;
	padding: 10px;
	width: 225px;
	z-index: 1;
	color: $dark-grey;
	font-family: $sans-serif;
	text-align: left;
	box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.09);
	font-weight: initial;
}

.gear-dropdown .user-settings  {
	border-bottom: 1px solid $light-grey;
}

.gear-dropdown .user-settings li,
.gear-dropdown .session-settings li {
	margin: 5px 0;
	cursor: pointer;
	border-radius: 3px;
	font-size: 12px;
}

.gear-dropdown a {
	display: block;
	text-decoration: none;
	padding: 5px 5px;
}

.gear-dropdown .session-settings li {
	color: $blue;
	padding: 5px 5px;
}

.gear-dropdown .user-settings li:hover {
	background-color: $light-grey;
}
