.member-list {
  width: 220px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: visible;
  white-space: nowrap;
}

.member-list > li {
  flex: 0 0 43px;
  text-overflow: ellipsis;
  display: flex;
  justify-content: flex-start;
}

.memberlist-search {
  padding-left: 14px;
  padding-top: 3px;
}

.member-list-title {
  padding: 14px;
  color: rgba(0, 0, 0, .40);
}

.add-member-button {
  display: flex;
  width: 100%;
}

.add-member-plus {
  margin: 0 17px;
  margin-bottom: 6px;
  font-size: 32px;
  color: #0084ff;
}

.add-member-text {
  margin-top: 12px;
}

.member-list-item:hover {
  background-color: #f2f2f2;
}

.member-list-pic {
  height: 32px;
  width: 32px;
  margin: 4px 12px;
}

.member-list-name {
  margin: 12px 0;
}
