.message-input-box {
  display: flex;
  justify-content: space-between;
}

.message-input-form {
  display: flex;
  flex: 1 1 80%;
}

.message-input {
  width: 100%;
  padding: 10px;
}

.image-upload {
  height: 60%;
  margin-top: 6px;
  margin-right: 10px;
}

.image-upload .fa-picture-o {
  font-size: 25px;
}
