// Place all the styles related to the api/messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message-container {
  flex: 1 1 260px;
  display: flex;
  flex-direction: column;
  border-right: $border-grey;
  min-width: 260px;
}
.message-list {
  border-bottom: $border-grey;

  flex: 1;
  color: rgba(0, 0, 0, .40);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  font-size: 12px;
  padding-top: 10px;
}

.message-item {
  flex-shrink: 0;
  margin-bottom: 5px;
  max-width: 70%;
  min-height: auto;
  display: flex;
  min-width: 0;
}

.my-message {
  margin-left: auto;
  margin-right: 20px;
}

.their-message {
  margin-right: auto;
  margin-left: 20px;
}

.message-text {
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.author-pic {
  height: 26px;
  width: 26px;
  margin-top: auto;
}

.message-info {
  display: flex;
  padding: 0 14px;
}

.my-message .author-name {
  display: none;
}

.my-message .author-pic {
  display: none;
}

.my-message .timestamp {
  margin-left: auto;
}

.my-message .message-text {
  align-items: flex-end;
}

.my-message .message-body {
  color: white;
  background-color: #0084ff;

}

.their-message .timestamp {
  padding-left: 20px;
}

.their-message .message-text {
  align-items: flex-start;
}

.their-message .message-body {
  color: black;
  font-weight: 500;
  background-color: #f1f0f0;
}

.message-body {
  font-size: 14px;
  border-radius: 20px;
  padding: 5px 10px;
  word-wrap: break-word;
  max-width: 100%;
}

.message-image {
  border-radius: 15px;
  width: auto;
  max-width: 100%;
  height: auto;
}

.message-loader{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
