.message-input-form {
  width: 100%;
  display: flex;
  flex: 0 0 50px;
}

.message-input {
  width: 100%;
  padding: 10px;
}

.message-input-form .image-upload {
  // width: 40px;
  // height: 100px;
  height: 60%;
  margin-top: 10px;
  margin-right: 20px;
}

.image-upload .fa-picture-o {
  font-size: 25px;
}
