.message-input-form {
  // clear: both;
  // position: absolute;
  // bottom: 0;
  // height: 50px;
  // z-index: 100;
  // background-color: white;
  width: 100%;
  // border: 1px solid rgba(0, 0, 0, .40);
  display: flex;
  // flex: 0 0 50px;
  flex: 0 0 50px;
  // align-self: flex-end;
  // margin-top: auto;

}

// .message-input-box form {
//   position: relative;
//   display: flex;
//   padding: 10px;
//   width: 100%;
// }

.message-input {
  // flex: 1;
  width: 100%;
  padding: 10px;
}
