// Place all the styles related to the api/messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message-container {
  flex: 2 0 130px;
  // width: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, .20);

}
.message-list {
  border-bottom: 1px solid rgba(0, 0, 0, .20);

  flex: 1;
  color: rgba(0, 0, 0, .40);
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  font-size: 12px;
  padding-top: 10px;
}

.message-item {
  margin-bottom: 5px;
  max-width: 70%;
}

.message-info {
  display: flex;
  padding: 0 14px;
}

.my-message {
  margin-left: auto;
  margin-right: 20px;
}

.my-message .author-name {
  display: none;
}

.my-message .timestamp {
  margin-left: auto;
}

.my-message .message-body {
  color: white;
  background-color: #0084ff;

}

.their-message {
  margin-right: auto;
  margin-left: 20px;
}

.their-message .timestamp {
  padding-left: 20px;
}

.their-message .message-body {
  color: black;
  font-weight: 500;
  background-color: #f1f0f0;
}

.message-body {
  // width: 100%;
  // flex-wrap: wrap;
  font-size: 14px;
  border-radius: 20px;

  padding: 5px 10px;
  word-wrap: break-word;
}

.message-loader{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
