// Place all the styles related to the api/conversations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar {
  // flex-grow: 1;
  // min-width: 200px;
  // max-width: 420px;

  flex: 0 0 220px;

  display: flex;
  flex-direction: column;

  border-right: 1px solid rgba(0, 0, 0, .20);

}

.navbar-banner {
  display: flex;
  width: 100%;
  flex: 0 0 44px;
  border-bottom: 1px solid rgba(0, 0, 0, .20);
}

.navbar-banner .fa-cog {
  color: $deep-blue;
  font-size: 25px;
  margin-left: 10px;
  margin-top: 10px;
}

.conversation-list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
}

.conversation-list-item {
  padding-top: 25px;
  padding-left: 25px;
  flex: 0 0 64px;
}

.conversation-list-item:hover{
  background-color: #f2f2f2;
}
