// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form-container {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  .session-splash {
    padding-right: 150px;
    width: 650px;
    height: 525px;
  }
}

.login-form-container {
  display: table-cell;
  // padding-left: 150px;
  margin-top: 20px;

  width: 320px;
  height: 480px;
  vertical-align: middle;
  .logo {
    display: block;
    margin: auto;
    width: 90px;
    height: auto;
  }
}
.message-me {
  display: block;
  color: rgba(0, 0, 0, .88);
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0;
}

.welcome-text {
  display: block;
  font-size: 17px;
  font-weight: 200;
  margin-bottom: 25px;
  margin-top: 12px;
  text-align: center;
  width: 320px;
}

.login-form-box {
  display: block;
  margin-top: 10px;
  line-height: normal;
  margin: 0 2px;
  padding: 0 2px;
  text-align: center;
}

.login-input {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid rgba(0, 0, 0, .20);
  border-radius: 4px;
  font-size: 16px;
  height:42px;

  font-weight: 150;
  margin-left: auto;
  margin-right: auto;
  width: 275px;
  padding: 0 16px;

}

.session-submit {
  color: #fff;
  font-weight: 300;
  background-color: #0084ff;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: none;
  //margin-bottom: 15px;
}

.demo-submit {
  // color: #38ff70;
  //text-transform: uppercase;
}

.navlink-text {
  font-size: 14px;
  text-align: center;
  color: #9b9b9b;
  margin: 10px 0;
}

.navlink-link {
  color: #0084ff;
}

.session-errors li {
  color: red;
  display: list-item;
  list-style-type: disc;
  //list-style-position: inside;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0084ff;
  height: 35px;
  color: #fff;
  text-align: center;
}

.footer a {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}

.footer a:first-child {
  padding-right: 40px;
}
