.user-search {
  height: 100%;
}

.search-bar {
  display: flex;
  min-height: 40px;
  overflow: hidden;
  direction: rtl;
  align-items: flex-start;
}

.selected-users {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

#selected-user-item {
  color: white;
  direction: ltr;
  position: relative;
  display: inline-block;
  font-size: 14px;
  margin-top: 5px;
  margin-right: 3px;
  padding-left: 6px;
  padding-top: 6px;
  height: 28px;
  color: #0084ff;
  background-color: #cbe6fe;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90px;
}

.user-search-form{
  margin-top: 10px;
  display: flex;
  overflow: hidden;
  direction: ltr;
}

.user-search-input {
  width: 120px;
}

.user-search-list {
  position: absolute;
  right: 0;
  width: 20%;
  max-width: 200px;
  background-color: #fff;
  border: $border-grey;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .20);
}

.user-search-list li {
  position: relative;
  z-index: 100;
  padding-left: 10px;
  padding-top: 5px;
  height: 25px;
}

.user-search-list li:hover {
  background-color: #f2f2f2;

}

.user-search-button {
  width: 100%;
}
