// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, #root, .app {
  height: 100%;
}

.app {
  background-color: #fff;
  // padding-top: 20px;
  font-family: "Helvetica";
  font-weight: 300;
  // width: 100%;
  // height: 100%;
  display: block;
  direction: ltr;
  // width: 100%;
}

.main-content {
  height: 100%;
  display: flex;
}

.message-container {
  width: 50%;
  // height: %;
  display: flex;
  position: relative;
  font-size: 14px;
  // flex-direction: column;
  // padding-bottom: 60px;
  overflow: hidden;
}
